body {
	-webkit-transform-origin: center 100px;
}

.js-has-editor {
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.01) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0,0.01) 75%, rgba(0, 0, 0,0.01)), linear-gradient(45deg, rgba(0, 0, 0,0.01) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0,0.01) 75%, rgba(0, 0, 0, 0.01));
	background-size: 30px 30px;
	background-position: 0 0, 15px 15px;
	-webkit-transform: scale(.75);
}

.js-has-editor *:not(.marker) {
	background: transparent !important;
	cursor: default;
	-webkit-user-select: none;
}

.js-has-editor *:hover, .js-has-editor .selected > * {
	box-shadow: 0 7px 13px rgba(0, 0, 0, 0.2);
	background: rgba(117, 81, 207, 0.1);
	outline: 2px solid rgba(0, 0, 255, 0.2);
	opacity: 1;
}

.js-has-editor *:hover > *, .js-has-editor .selected > *, .js-has-editor > div > * {
	color: black;
	outline: 1px solid rgba(0, 0, 0, 0.1);
}


.js-has-editor > div {
	opacity: 1 !important;
	background: rgba(161, 198, 234, 0.1) !important;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 0px 7px rgba(0, 0, 0, 0.24);
}


.js-has-editor .selected {
	outline: 4px solid rgba(0, 0, 255, 0.2);
	-webkit-transition: all 0.1s;
}

.js-has-editor .selected > * {
	-webkit-transition: all 0.1s;
}

.js-has-editor .marker {
	position: absolute;
	background: rgba(0, 0, 255, 0.2);
	cursor: ew-resize;
	-webkit-transition: all 0.1s;
}

.marker:hover {
	background: rgba(0, 0, 255, 0.4);
}

.js-has-editor #overlay {
	width: 100%;
	height: 100vh;
	z-index: 10;
	position: absolute;
	top: 0;
	pointer-events: none;
}

.js-is-dragging {
	background: rgba(161, 198, 234, 1) !important;
	cursor: move;
	position: absolute;
	left: 0px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
	-webkit-transition: none;
}


.lock {
	background: url(lock.png) center no-repeat;
	width: 20px;
	height: 20px;
	color: white;
	position: absolute;
	display: inline-block;
	border: 0;
	outline: 0;
	opacity: 0;
}

.lock:hover {
	
}

.js-is-shaking {
	background: red;
}