#app {
	width: 100%;
	min-height: 100vh;
	-webkit-box-sizing: border-box;
	line-height: 1.4em;

}

* {
	margin: 0rem;
	-webkit-transition: all 0.1s;
	-webkit-box-sizing: border-box;
}
.card {
	min-width: 150px;
	min-height: 300px;
	padding: 2em;
}

#app-header {
	padding: 1em;
	color: #999;
	background: #333;
	width: 100%;
}
ul {
	list-style-type: none;
}
li {
	padding: 1em;
	background: #ccc;
}

